<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 8, 2022
      Filename: content.ejs
    -->

<div id="wrapper">
<header>
    <h1>BENNY MOK</h1>
	<br>
	<table style="width:100%">
		<tr>
			<th><a href="/home">Home Page</a></th>
			<th><a href="/aboutme">About Me</a></th>
			<th><a href="/projects">Project</a></th>
			<th><a href="/services">Services</a></th>
			<th><a href="/contact">Contact Me</a></th>
		</tr>
	</table>
	</header>