<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 26, 2022
      Filename: footer.ejs
    -->

<footer>
	Copyright &copy; 2022 Ho Wun Mok - COMP229 Assignment 1. All Rights Reserved.
  	</footer>
</div>
  <!--jquery js-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <!--bootstrap js-->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--custom JS section-->
  <script src="/Scripts/app.js"></script>
</body>
</html>