<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 8, 2022
      Filename: right_contact.ejs
    -->

<aside>
  <figure>
  <a href="https://www.facebook.com/bv.itswords" target="_blank"><img src="/Assets/images/fbicon.png" alt="instagram" width="100"></a>
  <br>
  <a href="https://www.facebook.com/bv.itswords" target="_blank">Visit my Facebook</a>
  <br><br>
  <a href="https://www.instagram.com/album.toronto" target="_blank"><img src="/Assets/images/igicon.png" alt="instagram" width="100"></a>
  <br>
  <a href="https://www.instagram.com/album.toronto" target="_blank">Visit my Instagram</a>
  <br><br>
  <a href="https://wa.me/16471234567" target="_blank"><img src="/Assets/images/whsapicon.png" alt="Whatsapp" width="100"></a>
  <br>
  <a href="https://wa.me/16471234567" target="_blank">Whatsapp</a>
  <br><br>
  <a href="https://youtu.be/JjsBzdZDpxA" target="_blank"><img src="/Assets/images/yticon.png" alt="logo" width="100"></a>
  <br>
  <a href="https://youtu.be/JjsBzdZDpxA" target="_blank">My Youtube Channel</a>
  </figure>
</aside> 