<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 26, 2022
      Filename: aboutme.ejs
    -->

<%- include partials/header.ejs %>

<%- include partials/content.ejs %>

<main>
    <h2>Ho Wun Mok</h2>
    <br>
    <img src="/Assets/images/profilePic.jpeg" alt="Profile Picture" width="300" height="auto">  
    <p class="description">I am a student in the Software Engineering Techinican Program.<br>
      This is my third semester at Centennial College.</p>
    <br>
      <p class="description">I am from Hong Kong. Before I moved to Canada.
      I was a Manager in a pest control company to provide the mosquitoes and rodents control serivce.
      And I have a Bachelor of Science in Environmental Science.</p>
    <br>
      <h3 class="description">Want to know more about me?</h3> <br>
      <p class="resume">Please click <a href="/Assets/doc/resume.pdf" target="_blank"><u>here</u></a> to check my resume.</p>
</main>

<%- include partials/right_contact.ejs %>
  
<%- include partials/footer.ejs %>