<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 8, 2022
      Filename: error.ejs
    -->

<%- include partials/header.ejs %>

<%- include partials/content.ejs %>


<div class="container">
    <h1>Error 404 Not Found</h1>
</div>

<%- include partials/right_contact.ejs %>
  
<%- include partials/footer.ejs %>