<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 8, 2022
      Filename: projects.ejs
    -->

<%- include partials/header.ejs %>

<%- include partials/content.ejs %>

<main>
  <h2>Project Sample</h2>
    <br>
  <fieldset>
    <legend><strong>C# Windows Forms App - Calculator</strong></legend>
    <img src="/Assets/images/cSharpWinAppCal.jpg" alt="C# calculator"></a>
    <p class="project">&nbsp;&nbsp; <span style="color:black">Project Sample 1: </span>
      <span style="color:#00b8e6; font-size:20px;">C# Windows Forms App - Calculator</span></p>
      <br>
      <p class="projectDescription">This is a Calculator App created by C# Windows Form. 
        Besides the normal calculating function, the project can also provide 4 extra scientific functions. 
        <br><br>Click the <a href="https://youtu.be/JjsBzdZDpxA" target="_blank"><u>link</u></a> to see how I created it.</p>
  </fieldset>

  <fieldset>
    <legend><strong>The Bug Smasher Game</strong></legend>
    <img src="/Assets/images/bugSmasherGame.jpg" alt="C# calculator"></a>
    <p class="project">&nbsp;&nbsp; <span style="color:black">Project Sample 2: </span>
      <span style="color:#00b8e6; font-size:20px;">The Bug Smasher Game</span></p>
      <br>
      <p class="projectDescription">This is a catach bug game that can be played on the browsers. 
        The player tries to catch the bug by clicking on it. If he succeeds, 
        the score is incremented and the hopping interval is decremented  by a number of milliseconds, 
        so it gets harder to catch the bug. 
        <br><br>Click the <a href="/Assets/projects/bugSmasher/bugSmasherGame.html" target="_blank"><u>link</u></a> to play it now!</p>
  </fieldset>
  
  <fieldset>
    <legend><strong>Create table by JS loops</strong></legend>
    <img src="/Assets/images/createTable.jpg" alt="C# calculator"></a>
    <p class="project">&nbsp;&nbsp; <span style="color:black">Project Sample 3: </span>
      <span style="color:#00b8e6; font-size:20px;">Create table by JS loops</span></p>
      <br>
      <p class="projectDescription">This is a dynamic function creates table 
        and displays in each cell the (row, column) information for that cell on the browsers. 
        It allow the user to select the number of rows and columns to redraw a new table 
        <br><br>Click the <a href="/Assets/projects/createTable/createTable.html" target="_blank"><u>link</u></a> to try it.</p>
  </fieldset>
  </main>

<%- include partials/right_contact.ejs %>
  
<%- include partials/footer.ejs %>
