<!--
      Student Name: Ho Wun Mok
      Student No.: 301237442
      Date:   October 8, 2022
      Filename: services.ejs
    -->

<%- include partials/header.ejs %>

<%- include partials/content.ejs %>

<main>
  <h2>My Skills</h2>
  <br>
 
  <table style="width: 80%">
    <tr>
      <td><img src="/Assets/images/programming.jpg" alt="Profile Picture" width="350" height="auto"></td>
      <td class="text">1. General Programming</td>
    </tr>
    <tr>
      <td class="text">2. Web Development</td>
      <td><img src="/Assets/images/webdeve.jpg" alt="Profile Picture" width="350" height="auto"></td>
    </tr>
    <tr>
      <td><img src="/Assets/images/mobileapp.jpg" alt="Profile Picture" width="350" height="auto"></td>
      <td class="text">3. UX/UI in Mobile Apps</td>
    </tr>
  </table>
</main>

<%- include partials/right_contact.ejs %>
  
<%- include partials/footer.ejs %>
